{% extends 'listings/base.html' %}

{% block content %}




  <div class="w3-container w3-center">
  <h1 class="w3-text-orange" style="text-shadow:1px 1px 0 #444">
  <b>Marion, Virgil, </b></h1>
      <br>
     <h1 class="w3-text-black" style="text-shadow:1px 1px 0 #444">
  <b>L'ancien planning est encore ouvert !! </b></h1>

</div>
    <br></br>
    <br></br>
 <div class="w3-container w3-center">

     <h2 class="w3-text-blue" style="text-shadow:1px 1px 0 #444">
  <b> Il faut fermer l'ancien planning et actualiser la page </b></h2>
     <br>
     <br>


<iframe src="https://giphy.com/embed/39V1MUIJTDnNK" width="480" height="253" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/minions-minion-movie-the-39V1MUIJTDnNK"></a></p>
 </div>

    {% endblock %}